:root {
    --primary-color:#272142; 
    --secondary-color:rgb(243, 246, 250);
    --lightpink-color:rgb(250, 234, 235);
    --dark-primary-color:rgb(39, 32, 68);
    --light-color:rgb(251, 238, 222);
    --box-shadow: 0 5px 10px rgb(243, 246, 250);
    --heading-font-family:'Playfair Display', serif; 
    --default-font-family:'Poppins', sans-serif;
  }
 
  
  
  h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font-family);
    color:var(--primary-color);
    font-weight: bold;

  }

  
  h1,
  h2,
  h3 {
    text-align: center;
    margin: 0;
  }
  
  h1 {
    font-size: 96px;
    font-style: bold;
    

  }
  
  h2 {
    font-size: 64px;
    
  }
  
  h3 {
    font-size: 28px;
    
    
  }
  h4{
    font-size: 48 px;
  }
  
  p {
    padding: 20px;
    display: block;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    font-family: var(--default-font-family);
    font-weight: normal;

  }
  
   body{
    margin: 10px;
    
   } 
  
  .hero{
    background-color:var(--secondary-color);
    text-align: center;
    padding: 100px 20px;
  
  
  }
  .hero p{
    font-family: var(--font-family);
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0;

  }
  .hero h2{
    font-family: var(--default-font-family);
    font-size: 24px;
    line-height: 2;
    font-weight:normal;
    color:var(--primary-color);
  }
  .btn-branding {
border-radius: 4px;
background:var(--dark-primary-color);
color: white;
font-family: Poppins;
font-size: 18px;
line-height: 27px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 18px 30px;
text-decoration: none;
text-transform: capitalize;
  }
  .btn-branding:hover{
    color:var(--primary-color);
    background-color:var(--secondary-color);
    border: 1px solid var(--primary-color); ;
  }

  .navbar-brand{
    font-family: 'Black Ops One', cursive;
    color:rgb(39, 32, 68);
    font-size: 30px;
    line-height: 22px;
    max-height: 40px;
   
    
    
  }
  

 

 
  .navbar-toggler{
    color:var(--dark-primary-color); 
  }
  .nav-link{
    color:var(--dark-primary-color);
    font-weight: bold; 
  }
  .nav-link:hover{
    color:rgb(24, 129, 226) ;
  }

 

  
  
  .navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
  
  .navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  
  .about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  
  .homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
  }
  

  
  .workpage{ 
    background-color:var(--lightpink-color);

  }
  .content-container{
    padding: 100px 20px;
     text-align: center;
     background-color:var(--lightpink-color);
    
    
  }
  .content{
    margin: 30px;
    background-color:var(--lightpink-color);
    
  }
  
  .content h3{
    font-size: 24px;
    font-family: var(--default-font-family);
    line-height: 1.5;


  }
  .content p{
    font-size: 14px;
  }
  
  .degree{
    background-color:rgb(252, 246, 246) ;
    padding: 80px 20px;
  }
  
  .content-container h1{
    
font-family: Playfair Display;
font-size: 64px;
font-style: normal;
line-height: 80px
  }
  .content-container h2{
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    line-height: normal; 
  }
  
  
  
  .proj-description{
    padding: 160px 20px;
    text-align: center;
  }
  footer .contact-box{
    background-color: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px ;

  }
  footer .contact-box p{
    margin:0 ;
  }
  footer{
    margin: 60px 20px;
  }
  
.email-link {
    text-align: center;
    font-weight:bold;
    font-style:italic ;
   font-size: 24px;
    text-decoration: none;
    color:rgb(39, 32, 68);
  }
  
   .email-link:hover {
    text-decoration: none;
    color:rgb(247, 7, 118) ;
  }
  footer .social-links a{
    margin: 0 20px;
    color:var(--dark-primary-color);
    background-color:var(--secondary-color);
    border-radius: 50px;
    padding: 10px 14px;
    font-size: 18px;
    transition: all 100 ease-in-out;

  }
  footer .social-links a:hover{
    color:var(--secondary-color);
    background-color:var(--dark-primary-color) ;

  }
  .fluid-images {
    margin: 30px;
    max-width: 100%;
    height: auto;
  }
  
  .primary-link {
    font-size: 18px;
    line-height: 27px;
    border-radius: 4px;
    padding: 18px 30px;
    text-decoration: none;
    text-transform: capitalize;
    background:var(--dark-primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  .primary-link:hover{
    color:var(--primary-color);
    background-color: var(--secondary-color);
  }
  .about-paragraphs p {
    margin: 10px;
  }
  footer{
    text-align: center;
    color:var(--primary-color) ;
  

  }
  a{
    text-decoration: none;
  }
  

@media (max-width: 900px) {
    h1{
        font-size: 60px;
        line-height: 1.5;
        margin-top: 10px;
      
    }
    h2{
        font-size:44px ;
    }
    h3{
        font-size: 20px;
    }
    .navigation-links a {
        padding: 15px 10px;
        margin: 12px;

        
    }
    .title-about {
        font-size: 50px;

    }
    .about-paragraphs {
        font-size: 24px;

    }
    .fluid-images{
      width: 200px;
      
      
    }
    .content-container{
      text-align: center;
      padding: 80px 40px;
      
      
    }
    .content-container h1{
      margin-top: 30px;
      font-size: 44px;
      

    }
    
    

    .proj-description{
      padding: 0;
      text-align: center;
    }
    .hero{
      padding: 80px 20px;
      
    }
    .btn-branding{
      font-size: 20px;
      padding: 20px 15px;
    }
  .navbar-brand{
    font-size: 25px;
  }
   .email-link{
    font-size: 16px;
   }
   .open-sourced{
    font-size: 12px;
   }


  
  }